@font-face {
    font-family: "Murecho";
    src: url("murecho/static/Murecho-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Murecho";
    src: url("murecho/static/Murecho-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Junicode";
    src: url("junicode/Junicode-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: "Murecho", sans-serif;
    font-weight: normal;
    background-color: #1f1f1f;
    color: #d1cfc0;
}

.logo {
    position: absolute;
    margin-right: 65vw;
    font-family: "Junicode";
    user-select: none;
    color: darkred;
    cursor: pointer;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 60px 30px;
}

a {
    text-decoration: none;
}

.center-links {
    color: inherit;
}

.center-links a {
    font-size: 1.2rem;
    margin: 0 20px;
    color: inherit;
    position: relative;
}

.center-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2.5px; /* Thickness of the underline */
    background-color: #fe4a49; /* Color of the underline */
    transition:
        width 0.4s ease,
        left 0.4s ease; /* Transition for the effect */
}

.center-links a:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Move to the left */
}

@media (max-width: 900px) {
    .logo {
        font-size: 2rem;
        position: relative;
        margin: 0;
    }

    .navbar {
        flex-wrap: wrap;
    }
}
