.banner {
    width: 100%;
    background-color: #d1cfc0;
    color: #1f1f1f;
    font-size: 4em;
    text-align: center;
}

span {
    padding: 0.25em;
}

.letter {
    font-family: "Murecho";
    font-weight: bold;
    font-size: 3em;
    padding: 0;
}

.pronounciation {
    color: #525252;
}

.description {
    width: 50%;
    margin: 50px auto;
}

p {
    font-size: 1.45em;
    color: #a3a3a3;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .description {
        width: 80%;
    }
}
