.banner {
    width: 100%;
    background-color: #d1cfc0;
    color: #1f1f1f;
    font-size: 4em;
    text-align: center;
}

span {
    padding-left: 0.5em;
}

.letter {
    font-family: "Murecho";
    font-weight: bold;
    font-size: 3em;
    padding: 0;
}

.pronounciation {
    color: #525252;
}

.description {
    margin-top: 30px;
    padding: 1% 20%;
}

p {
    font-size: 1.25em;
    color: #a3a3a3;
    line-height: 1.5;
}
