@font-face {
    font-family: 'Murecho';
    src: url('murecho/Murecho-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Murecho';
    src: url('murecho/Murecho-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('junicode/Junicode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Murecho', sans-serif;
    color: #d1cfc0;
    background-color: #1F1F1F;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 100%);
    pointer-events: none;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 75px 20px 75px;
    position: relative;
    z-index: 2;
}

.logo {
    font-family: "Junicode";
    font-size: 1.5rem;
    margin-left: 100px;
    user-select: none;
    color: #FE4A49;
    z-index: 3;
}

.button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.custom-button {
    position: relative;
    border: none;
    background: none;
    color: #d1cfc0;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.25rem;
    overflow: hidden;
}

.custom-button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 90%;
    height: 2px;
    background-color: #FE4A49;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
}

.custom-button:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.alphabet {
    display: flex;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
}

.letter-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    transition: transform 0.3s;
}

.letter-cell:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.letter {
    font-size: 8rem;
    line-height: 0.8;
    color: #d1cfc0;
    font-family: "Murecho";
    font-weight: bold;
    padding: 20px;
    transition: text-shadow 0.4s ease, color 0.4s ease;
}

.description {
    font-size: 1.25rem;
    color: #707070;
    margin-top: 30px;
    transition: text-shadow 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

.letter-cell:hover .letter, .letter:hover, .description:hover {
    color: #FE4A49;
}

.letter-cell:hover .description {
    transform: translateY(0px);
    color: #FE4A49;
    text-shadow: 0 0 10px rgba(254, 74, 73, 0.25);
}

.divider {
    width: 2px;
    height: 100px;
    background-color: gray;
    margin: 0 20px;
}

a {
    text-decoration: none;
}

@media (max-width: 1100px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 75px;
    }

    .button-container {
        margin-top: 40px;
    }

    .logo {
        margin-left: 0;
    }
}
